@model Simorgh.Models.UserMessage

@{
    ViewBag.Title = "Compose";
}

<h2>Compose</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserMessage</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FromUserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromUserName, new { htmlAttributes = new {
               @Value = User.Identity.Name, @readonly = "readonly"}})
                @Html.ValidationMessageFor(model => model.FromUserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToUserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToUserName)
                @Html.ValidationMessageFor(model => model.ToUserName)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ReplyToMessage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReplyToMessage)
                @Html.ValidationMessageFor(model => model.ReplyToMessage)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.MessageText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MessageText)
                @Html.ValidationMessageFor(model => model.MessageText)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MessageTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MessageTime, new {htmlAttributes = 
               new {@Value = System.DateTime.Now,@readonly = "readonly"}})
                @Html.ValidationMessageFor(model => model.MessageTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
