@model IEnumerable<Simorgh.Models.UserMessage>

@{
    ViewBag.Title = "Inbox";
}

<h2>Inbox</h2>

<p>
    @Html.ActionLink("Compose Message", "Create") |
    @Html.ActionLink("Inbox", "Inbox") |
    @Html.ActionLink("Sent Messages", "Sent")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FromUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplyToMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isRead)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FromUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplyToMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isRead)
        </td>
        <td>
            @Html.ActionLink("Open", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
