@model Simorgh.Models.Reservation

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.CheckInTime)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CheckInTime)
    @Html.ValidationMessageFor(model => model.CheckInTime)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CheckOutTime)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CheckOutTime)
    @Html.ValidationMessageFor(model => model.CheckOutTime)
</div>

