@model IEnumerable<Simorgh.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            UserId
        </th>
        <th>
            ReservationTime
        </th>
        <th>
            CheckInTime
        </th>
        <th>
            CheckOutTime
        </th>
        <th>
            AdultsCount
        </th>
        <th>
            InfantsCount
        </th>
        <th>
            AspNetUser
        </th>
        <th>
            RoomType
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservationId })
        </td>
        <td>
			@item.UserId
        </td>
        <td>
			@String.Format("{0:g}", item.ReservationTime)
        </td>
        <td>
			@String.Format("{0:g}", item.CheckInTime)
        </td>
        <td>
			@String.Format("{0:g}", item.CheckOutTime)
        </td>
        <td>
			@item.AdultsCount
        </td>
        <td>
			@item.InfantsCount
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.AspNetUser).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.RoomType).ToString()
        </td>
    </tr>
}

</table>


