@model Simorgh.Models.RoomType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoomType</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotelId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageFolderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageFolderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VacantCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacantCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
