@model IEnumerable<Simorgh.Models.RoomType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageFolderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacantCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HotelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageFolderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VacantCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomTypeId })
        </td>
    </tr>
}

</table>
