@model Simorgh.Models.RoomReview

@{
    int roomtypeidval = Convert.ToInt32(Request.QueryString["roomtypeid"]);
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RoomReview</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TravellerUserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravellerUserId)
                @Html.ValidationMessageFor(model => model.TravellerUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoomTypeId, new { htmlAttributes = new { @Value = roomtypeidval } })
                @Html.ValidationMessageFor(model => model.RoomTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReviewDate)
                @Html.ValidationMessageFor(model => model.ReviewDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Review, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Review)
                @Html.ValidationMessageFor(model => model.Review)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.RateUp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RateUp)
                @Html.ValidationMessageFor(model => model.RateUp)
            </div>
        </div>*@

        @*@<div class="form-group">
            @Html.LabelFor(model => model.RateDown, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RateDown)
                @Html.ValidationMessageFor(model => model.RateDown)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.IsConfirmed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsConfirmed)
                @Html.ValidationMessageFor(model => model.IsConfirmed)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
