@model Simorgh.Models.ImageFile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ImageFile</legend>

    <div class="display-label">Path</div>
    <div class="display-field">@Model.Path</div>

    <div class="display-label">Hotels</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Hotels).ToString()</div>

    <div class="display-label">RoomType</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.RoomType).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ImageFileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


