@model IEnumerable<Simorgh.Models.ImageFile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Path
        </th>
        <th>
            Hotels
        </th>
        <th>
            RoomType
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ImageFileId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ImageFileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImageFileId })
        </td>
        <td>
			@item.Path
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Hotels).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.RoomType).ToString()
        </td>
    </tr>
}

</table>


