@model Simorgh.Models.Rating

@{
    string hotelidval = Request.QueryString["hotelid"];
    ViewBag.Title = "Create";
   
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rating</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TravellerUserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravellerUserId)
                @Html.ValidationMessageFor(model => model.TravellerUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HotelId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HotelId)
                @Html.ValidationMessageFor(model => model.HotelId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StaffBehaviour, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StaffBehaviour)
                @Html.ValidationMessageFor(model => model.StaffBehaviour)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomCleanliness, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoomCleanliness)
                @Html.ValidationMessageFor(model => model.RoomCleanliness)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OutdoorCleanliness, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OutdoorCleanliness)
                @Html.ValidationMessageFor(model => model.OutdoorCleanliness)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prestige, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prestige)
                @Html.ValidationMessageFor(model => model.Prestige)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FoodQuality, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FoodQuality)
                @Html.ValidationMessageFor(model => model.FoodQuality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnvironmentQuality, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnvironmentQuality)
                @Html.ValidationMessageFor(model => model.EnvironmentQuality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceQualityRatio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceQualityRatio)
                @Html.ValidationMessageFor(model => model.PriceQualityRatio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Overall, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Overall)
                @Html.ValidationMessageFor(model => model.Overall)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HotelReview, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HotelReview)
                @Html.ValidationMessageFor(model => model.HotelReview)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
