@model Simorgh.Models.Hotel

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Hotel</h4>
	<hr />
	<dl class="dl-horizontal">
		@*<dt>
			@Html.DisplayNameFor(model => model.ImageFolderId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ImageFolderId)
		</dd>*@

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CityId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CityId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Address)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Address)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Longitude)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Longitude)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Latitude)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Latitude)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Star)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Star)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
