@model IEnumerable<Simorgh.Models.RoomType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            RoomTypeName
        </th>
        <th>
            RoomTypeDescription
        </th>
        <th>
            RoomCapacity
        </th>
        <th>
            Price
        </th>
        <th>
            Hotels
        </th>
        <th>
            ImageFiles
        </th>
        <th>
            Reservations
        </th>
        <th>
            RoomReviews
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomTypeId })
        </td>
        <td>
			@item.RoomTypeName
        </td>
        <td>
			@item.RoomTypeDescription
        </td>
        <td>
			@item.RoomCapacity
        </td>
        <td>
			@item.Price
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Hotels).ToString()
        </td>
        <td>
			@(item.ImageFiles == null ? "None" : item.ImageFiles.Count.ToString())
        </td>
        <td>
			@(item.Reservations == null ? "None" : item.Reservations.Count.ToString())
        </td>
        <td>
			@(item.RoomReviews == null ? "None" : item.RoomReviews.Count.ToString())
        </td>
    </tr>
}

</table>


