<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from nit-it.com/locanda/index-green.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Jan 2015 16:33:32 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>        
        @ViewBag.Title - Simorgh
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Top Header Section Start -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">
     <!--               <span class="glyphicon glyphicon-envelope">
                    </span> info@domain.com
                    <span class="glyphicon glyphicon-earphone">
                    </span> +2444444
        -->
@Html.Partial("_MyLoginPartial")                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-sm-8 col-lg-offset-2 col-md-offset-0 col-sm-offset-1">
                            <i class="fa fa-twitter">
                            </i>
                            <i class="fa fa-facebook">
                            </i>
                            <i class="fa fa-dribbble">
                            </i>
                            <i class="fa fa-rss">
                            </i>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-2 col-lg-offset-1 col-md-offset-0 col-sm-offset-0 hidden-xs pull-right">
                            <a href="booking.html" class="btn btn-primary btn-md book-now pull-right" role="button">
                                BOOK NOW
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Top Header Section End -->
    <!-- Logo & Navigation Start -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="~/images/mylogo.png" id="logo" alt="" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown active">
                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">
                            Home
                            <b class="caret">
                            </b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="index.html">
                                    Homepage - Default
                                </a>
                            </li>
                            <li>
                                <a href="index-blue.html">
                                    Homepage - Blue
                                </a>
                            </li>
                            <li>
                                <a href="index-red.html">
                                    Homepage - Red
                                </a>
                            </li>
                            <li>
                                <a href="index-green.html">
                                    Homepage - Green
                                </a>
                            </li>
                            <li>
                                <a href="index-whiteheader.html">
                                    Homepage - Header White
                                </a>
                            </li>
                            <li>
                                <a href="index-boxed.html">
                                    Homepage - Boxed
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="about.html">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="accomodation.html">
                            Accomodation
                        </a>
                    </li>
                    <li>
                        <a href="facilities.html">
                            Facilities
                        </a>
                    </li>
                    <li>
                        <a href="gallery.html">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="blog.html">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="contact.html">
                            Contact
                        </a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- Logo & Navigation End -->
    <div class="main">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    <!-- Footer Section Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <h2>
                        ABOUT US
                        <span class="triangle-bottomright">
                        </span>
                    </h2>
                    <div class="box">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. printing and typesetting industry
                        </p>
                        <div class="social">
                            <i class="fa fa-facebook">
                            </i>
                            <i class="fa fa-twitter">
                            </i>
                            <i class="fa fa-dribbble">
                            </i>
                            <i class="fa fa-rss">
                            </i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 address">
                    <h2>
                        OUR ADDRESS
                        <span class="triangle-bottomright">
                        </span>
                    </h2>
                    <div class="box">
                        <p>
                            51 Sope Des Fuero-besa, Roman, 755016, <br />Italy
                        </p>
                        <p>
                            <strong>
                                Phone:
                            </strong> +21.5892.9875 <br />
                            <strong>
                                Fax:
                            </strong> +21.5892.9875 <br />
                            <strong>
                                Email:
                            </strong> Email@Domain.com
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h2>
                        LATEST NEWS
                        <span class="triangle-bottomright">
                        </span>
                    </h2>
                    <div class="box">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/images/news1.jpg" class="img-responsive img-thumbnail" alt="" />
                            </div>
                            <div class="col-md-8">
                                <div class="date">
                                    07 APRIL 2014
                                </div>
                                <p class="footer_news_title">
                                    <a href="#">Lorem Ipsum is simply dummy text of the printing.</a>
                                </p>
                            </div>
                        </div>
                        <div class="news-border">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/images/news1.jpg" class="img-responsive img-thumbnail" alt="" />
                            </div>
                            <div class="col-md-8">
                                <div class="date">
                                    07 APRIL 2014
                                </div>
                                <p class="footer_news_title">
                                    <a href="#">Lorem Ipsum is simply dummy text of the printing.</a>
                                </p>
                            </div>
                        </div>
                        <div class="news-border">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h2>
                        FLICKR
                        <span class="triangle-bottomright">
                        </span>
                    </h2>
                    <div class="box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="flickr_badge_image portfolio">
                                    <div class="portfolioHover">
                                        <img class="no-display appear img-thumbnail" alt="" src="~/images/gal_pic1.jpg">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="flickr_badge_image portfolio">
                                    <div class="portfolioHover">
                                        <img class="no-display appear img-thumbnail" alt="" src="~/images/gal_pic3.jpg">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="flickr_badge_image portfolio">
                                    <div class="portfolioHover">
                                        <img class="no-display appear img-thumbnail" alt="" src="~/images/gal_pic4.jpg">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="flickr_badge_image portfolio">
                                    <div class="portfolioHover">
                                        <img class="no-display appear img-thumbnail" alt="" src="~/images/gal_pic4.jpg">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="flickr_badge_image portfolio">
                                    <div class="portfolioHover">
                                        <img class="no-display appear img-thumbnail" alt="" src="~/images/gal_pic1.jpg">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="flickr_badge_image portfolio">
                                    <div class="portfolioHover">
                                        <img class="no-display appear img-thumbnail" alt="" src="~/images/gal_pic6.jpg">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section End -->
    <!-- Footer Copyright Section Start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="box">
                        <p>
                            &copy; 2014 Locanda. All Rights Reserved
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="box">
                        <ul class="pull-right">
                            <li>
                                <a href="#">
                                    TERMS
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    FAQS
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    CONTACT
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Copyright Section End -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/main_scripts")
    <script>
        $(document).ready(function () {
            $("a[data-gal^='prettyPhoto']").prettyPhoto({
                theme: 'light_square', /* light_rounded / dark_rounded / light_square / dark_square / facebook */
            });
        });
    </script>
    @RenderSection("scripts", required: false)


    <div id="switcher-handle">
        <a class="" id="handle" href="#">Feedback</a>
        <div id="style-switcher">
            <p>
                Layout Style
            </p>
            <select name="layout" id="layout">
                <option value="wide">Wide</option>
                <option value="boxed">Boxed</option>
            </select>

            <p>
                Background Image
            </p>
            <a data-rel="color-bg-1" id="default" class="color-box" href="#"></a>
            <a data-rel="color-bg-2" id="blue" class="color-box" href="#"></a>
            <a data-rel="color-bg-3" id="red" class="color-box" href="#"></a>
            <a data-rel="color-bg-4" id="green" class="color-box" href="#"></a>
            <a data-rel="color-bg-5" id="whiteheader" class="color-box" href="#"></a>

            <p>
                Background Pattern
            </p>
            <a data-rel="bg1" class="bg-box" href="#"></a>
            <a data-rel="bg2" class="bg-box" href="#"></a>
            <a data-rel="bg3" class="bg-box" href="#"></a>
            <a data-rel="bg4" class="bg-box" href="#"></a>
            <a data-rel="bg5" class="bg-box" href="#"></a>
        </div>
    </div>
</body>
<!-- Mirrored from nit-it.com/locanda/index-green.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Jan 2015 16:33:34 GMT -->
</html>
